.example-spacer {
    flex: 1 1 auto;
}

body {
    background-image: url("../../assets/background_pic.jpg");
    margin: 0;
    padding: 0;
    
    height: 100vh;
  }

.profil{
    margin-left: 10px;
}

.toolbar{
    background-color: #e5a7a8;
    color: whitesmoke;
}

.login-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }



  mat-form-field{
    color: #FA8072;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }

  .option_button{
    
    background-color: #FA8072;
    
    text-align: center;
    color: whitesmoke; 
    font-family: 'Trocchi', serif;
    font-size: 20px;
  }

  .picture{
    width:300px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  mat-card-actions{
    margin-left: 180px;
  }

  .yey{
    color: #e5a7a8;
  }

  .ney{
    color: #FA8072;
  }