
<body>
    <br>
    <br>
    <br>
    <div class="div_p"><p>LET YOUR HAIR DO THE TALKING!</p></div>
    <br>
    <br>
    <br>
    <mat-card class="login-card">
        <img mat-card-lg-image class="picture" src="../../assets/home_pic.jpg">
        <mat-card-content>
            <div class="main-div">
                <form [formGroup]="loginForm" class="login-form">
                    <mat-form-field appearance="legacy">
                        <mat-label for="username">KORISNIČKO IME</mat-label>
                        <input type="text" class="form-control" formControlName="username" id="user_name" matInput>
                        <mat-error *ngIf="hasError('username', 'required')">Potrebno je unijeti korisničko ime!</mat-error>
                        <mat-icon matSuffix>person_outline</mat-icon>
                    </mat-form-field>
                    <br>
                    <br>
                    <mat-form-field appearance="legacy">
                        <mat-label for="password">LOZINKA</mat-label>
                        <input type="password" class="form-control" formControlName="password" id="password" matInput>
                        <mat-error *ngIf="hasError('password', 'required')">Potrebno je unijeti lozinku!</mat-error>
                        <mat-icon matSuffix>lock_open</mat-icon>
                    </mat-form-field>
                </form>
            </div>

            <br>
            <a routerLink="/RegistrationComponent"> *Ukoliko niste registrovani, kliknite ovdje!</a>
            
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button type="submit" class="option_button" id="login_button" (click)="login()"
                [disabled]="loginForm.invalid">PRIJAVI SE</button>
        </mat-card-actions>
    </mat-card>
</body>