<body>
    <mat-toolbar class="toolbar">
        <mat-icon>menu</mat-icon>
        <span class="profil">KORISNIČKI PROFIL</span>
        <span class="example-spacer"></span>
        <mat-icon>favorite</mat-icon>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click) ="logout()">
            <span class="material-icons">logout</span>
        </button>
      </mat-toolbar>

      <br>
      <br>
      <br>

      <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title class="title">{{name}} {{lastName}}</mat-card-title>
        </mat-card-header>
        <img mat-card-lg-image class="picture"  src="../../assets/icon.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <div class="dugmici">
                <button class="option_button" (click) ="proizvodi()" mat-raised-button>PREPORUČI MI</button>
                <br>
                <br>
                <button class="option_button" (click) ="products()"  mat-raised-button>MOJI PROIZVODI</button>
                <br>
                <br>
                <button class="option_button" (click) ="diary()"  mat-raised-button>MOJ  DNEVNIK</button>
            </div>
        </mat-card-content>
        <br>
        <br>
        <br>
      </mat-card>
</body>